<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="appversion" version="0.1.0">
    <name>Phonegap App Version</name>
    <author>Alexis Reverte (http://www.matsiya.com/)</author>
    <description>Phonegap/Cordova Plugin that returns the native application version.</description>
    <keywords>cordova, phonegap, version</keywords>
    <engines>
        <engine name="cordova" version=">=3.0" />
    </engines>
    <js-module src="www/appversion.js" name="AppVersion">
        <clobbers target="appversion" />
    </js-module>
    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="AppVersion">
                <param name="ios-package" value="AppVersion" />
            </feature>
        </config-file>
        <header-file src="src/ios/AppVersion.h" />
        <source-file src="src/ios/AppVersion.m" />
    </platform>

    <!-- android -->
    <platform name="android">
        <source-file src="src/android/com/phonegap/plugins/appversion/AppVersion.java" target-dir="src/com/phonegap/plugins/appversion" />

       <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AppVersion">
                <param name="android-package" value="com.phonegap.plugins.appversion.AppVersion" />
            </feature>
        </config-file>
    </platform>
</plugin>